<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>ChatJS</title>
        <link rel="stylesheet" href="./assets/style.css" />
     
    </head>
    <body>
        <section>
            <header>
                <h1>ChatJS</h1>
            </header>
            <form class="addMsg"  id="login_form" method="POST">
                <div class="user">
                    <label for="user_name">User name:<span></span></label>
                   
                </div>
                <div class="message_wrapper">
                    <input type="text" id="input-message" name="message" />
                    <input type="submit" class="button_green" id="msgButton" />
                </div>
            </form>

            <ul class="text_whiteboard">
                <% for(let i=0; i < messages.length; i++) {%>
                <li class="message" data-message-id="<%= messages[i].id %>">
                    <span class="message_id"><%= messages[i].id %></span>
                    <span class="message_text"><%= messages[i].text %></span>
                    <span class="message_user"
                        ><%= messages[i].userName %></span
                    >
                    <span class="message_likes"><%= messages[i].likes %></span>
                </li>
                <% } %>
            </ul>
        </section>
        
        <script type='module' src="./assets/chatroom.js"></script>
       
    </body>
</html>
